@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-label-primary: oklch(0.205 0 0);
  --color-label-secondary: #171717;
  --color-label-tertiary: oklch(0.556 0 0);
  --color-label-quarternary: oklch(0.708 0 0);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.ios-squircle {
  border-radius: 22px;
  corner-shape: squircle;
}
